@*@QnSCustomizedCopy*@
@page "/"
@inherits CommonPage

<div class="text-center">
	<h1 class="display-4">@Translate("Home.Title", "Welcome")</h1>
	<p></p>
	<h4>@Translate("Home.Title.Text", "to the QnSProjectAward")</h4>
	<p></p>
	<p>@Translate("Home.Body.Text", string.Empty)</p>
</div>

<div class="row">
	<div class="col-lg-12">
		<RadzenImage src="img/Logo.jpg" class="img-fluid" alt="Project Award Logo" Style="width: 400px;" />
	</div>
</div>
