@*@QnSCodeCopy*@
@inherits Pages.ModelPage
@using Radzen;
@using TModel = QnSProjectAward.BlazorApp.Models.Persistence.Account.Role;

@*DefaultPage*@

@code {
    TModel EditModel => DataGridHandler.EditModel;
    Func<string, string> LocalTranslate => DataGridHandler.Translate;
    Func<string, string> LocalTranslateFor => DataGridHandler.TranslateFor;
}
@*DefaultPage*@
